this are the tests

<li>
{{#link-to 'tester.posts'}}view posts{{/link-to}}

{{#link-to 'tester.comments'}}view comment{{/link-to}}
</li>


<!-- {{#each model as |post|}}
  <li>{{post.id}} {{post.title}} {{post.body}}</li>
{{/each}} -->
{{outlet}}
